.container{
    border:2px solid crimson;
    background-color:red;
    height: 3334px;
}
.box{
    border:2px solid chocolate;
    width: 80px;
    height: 40px;
    padding:4px;
    margin:5px;
    text-align: center ;
    display: inline-block;
}

#box2{
    
    

    
     left:100px;
     top:30px;
     position: fixed;
     right:20px;
  

}